 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 881px;
}

.u-section-1 .u-group-1 {
  width: 537px;
  min-height: 107px;
  margin: 101px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 7px;
  margin: 0;
}

.u-section-1 .u-group-2 {
  width: 688px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 626px;
  margin: -53px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 505px;
  width: 501px;
  margin: 60px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-weight: 400;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-weight: 400;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-weight: 400;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-weight: 400;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-group-3 {
  width: 250px;
  min-height: 60px;
  margin: -313px auto 253px 644px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 86px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 604px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: 84px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 8px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-left: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 90px;
  }
}