.u-section-1 .u-sheet-1 {
  min-height: 579px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 39px auto 0;
}

.u-section-1 .u-image-1 {
  width: 587px;
  height: 388px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-style: italic;
  margin: 10px auto 30px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 224px;
  }
}